@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tokens (puedes ajustar la paleta Alien) */
:root {
  --background: 220 14% 7%;
  --foreground: 210 40% 98%;
  --card: 222 14% 9%;
  --card-foreground: 210 40% 98%;
  --popover: 222 14% 9%;
  --popover-foreground: 210 40% 98%;
  --primary: 156 100% 50%;
  --primary-foreground: 160 84% 10%;
  --secondary: 257 100% 68%;
  --secondary-foreground: 260 20% 15%;
  --muted: 220 14% 20%;
  --muted-foreground: 215 20% 65%;
  --accent: 180 100% 50%;
  --accent-foreground: 190 15% 10%;
  --destructive: 0 90% 60%;
  --destructive-foreground: 0 0% 100%;
  --border: 217 32% 18%;
  --input: 217 32% 18%;
  --ring: 156 100% 50%;
}

.dark {
  --background: 220 14% 7%;
  --foreground: 210 40% 98%;
}
